<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Close To Home | About</title>

    
    
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <!--     about quill:
 -->

    <div class= "blue-bar results">
        <h4> NARRATIVES BY QUILL </h4>
    </div>
    
    <div class="blue-bar results">

      <h5> Data-Driven Communications at Machine Scale</h5>
      <p>
      Powered by artificial intelligence, Narrative Science Quill™ is an advanced natural language generation platform for the enterprise that creates data-driven communications at machine scale. It analyzes data from disparate sources, understands what is important, then generates perfectly written narratives to convey meaning for any intended consumer or business audience.</p>

      <div class="ns-link">
        <%= link_to "http://www.narrativescience.com/quill" %>
      </div>

    </div>
    
       <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

  </body>
</html>
