


<<<<<<< HEAD
<div class="blue-bar results">

		<%= @result.html_safe %>	

</div>

<!-- decide if you want what you had or the above, what i put -->

<!-- <div class="blue-bar results">
	<%#= @result.html_safe %></div>
		<div class="row">
   <div class="text-center">
    <%#= link_to "SEARCH AGAIN", users_search_path, class: "btn btn-danger btn-lg" %>
   </div>
  </div> -->


