/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import 'partials/close';

.carousel-inner {}

.carousel-inner {
    background: #009ED4;     
    padding-bottom: 370px;
    padding-top: 0;
    overflow: visible;
    margin-top: 50px;
}

.carousel-caption {
    bottom: -200px;
    color:  white;
    &.first {
    	bottom: 300px;
    }
}

div#myCarousel {
    padding-top: 0;
}

div#myCarousel {}

.marketing {
	.blue-bar {
			text-align: center;
			padding: 20px 0 40px;
			margin-top: 50px;
			h4 {
				padding-bottom: 30px;
			}
	}
}

.form-fields {
	text-align: left;
	margin-bottom: 30px;
}

input#zipcode {
	width: 100%;
	padding: 0 3px;
	color: black;
}

footer {
	padding: 30px;
}

.blue-bar.results {
	padding: 30px;
}